@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

body {
  overflow-x: hidden;
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

.modal {
  position: fixed;
  inset: 0;
  /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in;
  transition: all 0.6s ease-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.4);
}

.modal-content {
  width: 600px;
  height: 400px;
  background-color: #e4e8f1;
  border-radius: 25px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .modal-content {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 450px;
    height: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .modal-content {
    width: 350px;
    height: 350px;
  }
}

.modal-enter-done {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.modal-exit {
  opacity: 0;
  transform: scale(0.4);
}
.modal-links {
  color: rgb(0, 0, 0.6);
}

.modal-objects {
  color: rgb(0, 0, 0.6);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.modal-header {
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 20px;
}

.modal-description {
  font-size: 0.7rem;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 1400px) {
  .modal-links {
    padding-left: 70%;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 1400px) {
  .modal-links {
    padding-left: 70%;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .modal-links {
    padding-left: 50%;
    padding-top: 5px;
    padding-top: 5%;
  }
}

.modal-link-left:hover {
  text-decoration: underline 0.15em rgb(0, 0, 0.6);
  text-underline-offset: 0.3em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.modal-link-right:hover {
  text-decoration: underline 0.15em rgb(0, 0, 0.6);
  text-underline-offset: 0.3em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.modal-link-left {
  padding: 20px;
}

a:hover {
  cursor: pointer;
}

.nextJsImage {
  overflow-y: scroll;
}

//Animation loading spinner
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

//Success and allert messages
#message-warning,
#message-success {
  border-radius: 15px;
  background: #0f0f0f;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}

#message-warning {
  color: #d72828;
}

#message-success {
  color: #11abb0;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}

#message-warning,
#message-success {
  width: 100%;
  margin-left: 0;
}

//Audioplayer
.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls .play,
.audio-controls .pause {
  transform: scale(1.8);
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
